<!DOCTYPE html>
<html>
<body>

<p>Display some text when the checkbox is checked:</p>

<label for="academics">Academics</label>
<input type="radio" id="academicsr" name = "primary" onclick="myFunction('academics')">
<label for="cca">CCA</label>
<input type="radio" id="ccar" name = "primary" onclick="myFunction('cca')">


<p id="academics0" style="display:none"><label for="academics0">UG</label>
<input type="radio" id="academicsr0" name = "courses" onclick="myFunction(1)"></p>
<p id="academics1" style="display:none"><label for="academics1">PG</label>
<input type="radio" id="academicsr1" name = "courses" onclick="myFunction(2)"></p>


<p id="cca0" style="display:none"><label for="cca0">Sports</label>
<input type="radio" id="ccar0" name = "cca" onclick="myFunction(1)"></p>
<p id="cca1" style="display:none"><label for="cca1">Competitions</label>
<input type="radio" id="ccar1" name = "cca"  onclick="myFunction(2)"></p>


<script>
function myFunction(name) {
  for(var i=0;i<2;i++)
  {
  	var checkBox = document.getElementById(name+'r' + i);
  	var text = document.getElementById(name+i);
    		text.style.display = "block";

  }
}
</script>

</body>
</html>