<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
</head>
<body>
    <p>
        Hello!! Testing if it works on web! :p
    </p>
 <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Enter your message...">
        <input type="text" class="msger_input" id="user_text">
        <input type="text" class="msger_input" id="robo_response">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
</body>
</html>